---
layout: layout.liquid
title: Random Name Generator
---

<div x-data="nameGenerator()">
  <h1 x-text="currentName">Click the button to see a random name!</h1>
  <button @click="generateName()">Generate Random Name</button>
</div>